.setting-content {
  width:100%;
  height:710px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: repeat;

  background-image: url(assets/img/background.jpg);
}

md-card {
  text-align:center;
  background-color: #F5F5F5;

  width:100%;
  height: 650px;
  max-width:1000px;
}

.title-align-left {
  text-align: left;
  font-size: 20px;
}

.title-align-left i{
  margin:4px 4px 0 0;
}

.div-padding-bottom {
  padding-bottom: 20px
}

.monitor-information {
  height: 30px;
  padding:4px 10px;
  border-bottom: 0 none;
  text-align: left
}
.div-threshold {
  height: 40px;
  padding:4px 10px;
  border-top: 0 none;
  border-bottom: 0 none;
  text-align: left
}
.div-threshold i {
  height: 30px;
  margin:4px 4px 0 0;
}
.div-threshold input {
  height: 30px;
}

.form-threshold {
  text-align: right;
}

.form-project {
  height: 375px;
  text-align: right;
}

.input-div-container{
  padding-bottom: 3px;
  padding-right: 50px
}
.input-div-container label {
  padding-right: 10px;
}
.input-div-container input {
  height: 30px;
  width: 235px;
}

.footer-button {
  font-size: 14px;
  height: 30px
}

.add-new-button {
  font-size: 14px;
  height: 30px;
  float: right;
}

.action-button {
  font-size: 12px;
  height: 25px;
}
