<div class="setting-content">

    <md-card elevation="5">

      <md-card-subtitle class="title-align-left">
        <i class="fa fa-check-square-o"></i>
        <span>KPI Threshold Setting</span>
      </md-card-subtitle>

      <md-card-content>

        <!--<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>-->
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
            <button type="button" class="action-button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" class="action-button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
          </p-footer>
        </p-confirmDialog>

        <p-dialog header="{{projectModal.title}}" width=500 height=500 modal=true [(visible)]="projectModal.display">
          <form (ngSubmit)="onProjectSubmit()" class="form-project">
            <div class="field input-div-container">
              <label for="projectName">ProjectName</label>
              <input id="projectName" type="text" size="30" required placeholder="eg.PJT"/>
            </div>
            <div class="field input-div-container">
              <label for="projectStatus">ProjectStatus</label>
              <input id="projectStatus" type="text" size="30" required  placeholder="eg.In progress" />
            </div>
            <div class="field input-div-container" >
              <label>Last Updated Day</label>
              <p-calendar [(ngModel)]="updateDate" [inputStyle]="{'width':'235px','height': '30px'}"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                          [ngModelOptions]="{standalone: true}"></p-calendar>
            </div>
            <div class="field input-div-container" >
              <label>End Day</label>
              <p-calendar [(ngModel)]="endDate" [inputStyle]="{'width':'235px','height': '30px'}"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                          [ngModelOptions]="{standalone: true}"></p-calendar>
            </div>
          </form>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" pButton class="action-button" icon="fa-close" (click)="display=false" label="Cancel"></button>
              <button type="button" pButton class="action-button" icon="fa-check" (click)="display=false" label="Save"></button>
            </div>
          </p-footer>
        </p-dialog>


        <p-dialog header="{{thresholdModal.title}}" modal=true [(visible)]="thresholdModal.display">
          <form (ngSubmit)="onKPISubmit()" class="form-threshold">
            <div class="field input-div-container">
              <label style="text-align: left">Project</label>
              <p-dropdown [options]="projectList" required [(ngModel)]="selectedAddProject"
                          [style]="{'width':'235px','text-align': 'left'}" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
            <div class="field input-div-container">
              <label for="system">System</label>
              <input id="system" type="text" size="30" required placeholder="eg.Redmine"/>
            </div>
            <div class="field input-div-container">
              <label for="catalog">Catalog</label>
              <input id="catalog" type="text" size="30" required  placeholder="eg.task" />
            </div>
            <div class="field input-div-container" >
              <label for="kpi">KPI</label>
              <input id="kpi" type="text" size="30" required placeholder="eg. Bug Amount"/>
            </div>
            <div class="field input-div-container" >
              <label for="overcast" >Overcast</label>
              <input id="overcast" type="text" size="30" required placeholder="overcast" />
            </div>
            <div class="field input-div-container" >
              <label for="rain">Rain</label>
              <input id="rain" type="text" size="30" required placeholder="rain"/>
            </div>
            <div class="field input-div-container" >
              <label for="message">Notice Message</label>
              <input id="message" type="text" size="30" required placeholder="Notice Message"/>
            </div>
          </form>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" pButton class="action-button" icon="fa-close" (click)="display=false" label="Cancel"></button>
              <button type="button" pButton class="action-button" icon="fa-check" (click)="display=false" label="Save"></button>
            </div>
          </p-footer>
        </p-dialog>

        <div class="div-padding-bottom">
        <div class="ui-widget-header div-threshold">
          <button type="button" class="add-new-button" (click)="addProject()" pButton icon="fa-plus-square-o" label="Add"></button>
          <button type="button" class="add-new-button" (click)="UnSelectedClick()" pButton icon="fa-refresh" label="UnSelect"></button>
        </div>
        <p-dataTable [value]="projectsInfo" [rows]="3" [paginator]="true" selectionMode="single" [(selection)]="selectedProject"
                     (onRowSelect)="onProjectSelect($event)">
          <p-headerColumnGroup>
            <p-row>
              <p-column header="NO" colspan="2" rowspan="2"  [style]="{'width':'60px'}" ></p-column>
              <p-column header="ProjectName" colspan="1" rowspan="2"></p-column>
              <p-column header="ProjectStatus" colspan="1" rowspan="2"></p-column>
              <p-column header="Last Updated Day" colspan="1" rowspan="2"></p-column>
              <p-column header="End Day" colspan="1" rowspan="2"></p-column>
              <p-column header="Action" colspan="1" rowspan="2" [style]="{'width':'90px'}"></p-column>
            </p-row>
          </p-headerColumnGroup>
          <p-column  styleClass="col-icon"  [style]="{'width':'300px'}" selectionMode="single"></p-column>
          <p-column  field="no"></p-column>
          <p-column field="projectName"></p-column>
          <p-column field="projectStatus"></p-column>
          <p-column field="lastUpdateDay"></p-column>
          <p-column field="endDay"></p-column>
          <p-column styleClass="col-button">
            <template let-col let-project="rowData" pTemplate="body">
                  <button type="button" class="action-button"  (click)="editProject(project.no)"   pButton icon="fa-pencil-square-o" label="Edit"></button>
            </template>
          </p-column>
        </p-dataTable>
        </div>

        <div class="ui-widget-header monitor-information">
          Please set the KPI threshold for monitoring</div>

        <div class="ui-widget-header div-threshold">
          <i class="fa fa-search" ></i>
          <input #gb type="text" pInputText size="30" placeholder="Global Filter">
          <button type="button" class="add-new-button" (click)="addThreshold()" pButton icon="fa-plus-square-o" label="Add"></button>
        </div>
        <p-dataTable [value]="thresholdShow" [rows]="4" [paginator]="true" [globalFilter]="gb" #dt>
          <p-headerColumnGroup>
            <p-row>
              <p-column header="NO" colspan="2" rowspan="2"  [style]="{'width':'60px'}" ></p-column>
              <p-column header="Project" colspan="1" rowspan="2"></p-column>
              <p-column header="System" colspan="1" rowspan="2"></p-column>
              <p-column header="Catalog" colspan="1" rowspan="2"></p-column>
              <p-column header="KPI" colspan="1" rowspan="2"></p-column>
              <p-column header="Setting Value Scope" colspan="2"  [style]="{'width':'140px'}" ></p-column>
              <p-column header="Notice Message" colspan="1" rowspan="2"></p-column>
              <p-column header="Action" colspan="1" rowspan="2" [style]="{'width':'180px'}"></p-column>
            </p-row>
            <p-row>
              <p-column header="Overcast"></p-column>
              <p-column header="Rain"></p-column>
            </p-row>
          </p-headerColumnGroup>
          <!--<p-footer><div style="text-align: left">Selected User: {{selectedUser ? selectedUser.no + ' - ' + selectedUser.project + ' - ' + selectedUser.avatar + ' - ' + selectedUser.email: 'none'}}</div></p-footer>-->
          <p-column  styleClass="col-icon"  [style]="{'width':'300px'}" selectionMode="single"></p-column>
          <p-column  field="no"></p-column>
          <p-column field="project"></p-column>
          <p-column field="system"></p-column>
          <p-column field="catalog"></p-column>
          <p-column field="kpi"></p-column>
          <p-column field="overcast"></p-column>
          <p-column field="rain"></p-column>
          <p-column field="noticeMsg"></p-column>
          <p-column styleClass="col-button">
            <template let-col let-user="rowData" pTemplate="body">
              <div class="ui-g">
                <div class="ui-g-6">
                  <button type="button" class="action-button"  (click)="editThreshold(user.no)"   pButton icon="fa-pencil-square-o" label="Edit"></button>
                </div>
                <div class="ui-g-6">
                  <button type="button" class="action-button"  (click)="delConfirm(user.no)" pButton icon="fa-trash" label="Delete"></button>
                </div>
              </div>
            </template>
          </p-column>
        </p-dataTable>
      </md-card-content>

    </md-card>

</div>
