.home-content {
  width:100%;
  height:710px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: repeat;

  background-image: url(assets/img/background.jpg);
}

