<div class="management-content">

    <md-card elevation="5">

      <md-card-subtitle class="title-align-left">
        <i class="fa fa-users"></i>
        <span>User Management</span>
      </md-card-subtitle>

      <md-card-content>

        <p-confirmDialog width="425"></p-confirmDialog>

        <div class="ui-widget-header div-threshold">
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="30" placeholder="Global Filter">
        </div>
        <p-dataTable [value]="users" [rows]="3" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedUser">
          <p-headerColumnGroup>
            <p-row>
              <p-column header="" [style]="{width:'30px'}"></p-column>
              <p-column header="No" [style]="{width:'40px'}"></p-column>
              <p-column header="Project"></p-column>
              <p-column header="Avatar"></p-column>
              <p-column header="Mmail"></p-column>
              <p-column header="FristName"></p-column>
              <p-column header="LastName"></p-column>
              <p-column header="Action" [style]="{width:'85px'}"></p-column>
            </p-row>
          </p-headerColumnGroup>
          <p-column  styleClass="col-icon"  [style]="{'width':'300px'}" selectionMode="single"></p-column>
          <p-column  field="no"></p-column>
          <p-column field="project"></p-column>
          <p-column field="avatar">
            <template let-col let-user="rowData" pTemplate="body">
              <img style="width: 35px;" src="{{user[col.field]}}">
            </template>
          </p-column>
          <p-column field="email"></p-column>
          <p-column field="fristName"></p-column>
          <p-column field="lastName"></p-column>
          <p-column styleClass="col-button">
            <template let-col let-user="rowData" pTemplate="body">
              <button type="button" class="action-button" (click)="confirmPopup(user.no)" pButton icon="fa-trash" label="Delete"></button>
            </template>
          </p-column>
        </p-dataTable>
      </md-card-content>

      <md-card class="sub-card-height">
        <md-card-content>
          <div class="ui-g">
            <div class="ui-g-5">
              <img class="avatar-image" src="{{selectedUser ? selectedUser.avatar: null}}">
              <div >
                <button class="uploadfile" [disabled]="isUploading">{{uploadMessage}}
                  <input type="file" name="" id="" maxlength="1000000"  accept="image/png,image/gif" (change)="fileChangeEvent($event)">
                </button>
              </div>
              <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
            </div>
            <div class="ui-g-6">
              <form (ngSubmit)="onSubmit()" class="form-threshold">
                <div class="field input-div-container">
                  <label for="project" >Project</label>
                  <input id="project" type="text" size="30" placeholder="Global Filter"/>
                </div>
                <div class="field input-div-container">
                  <label for="email" >Email</label>
                  <input id="email" type="text" size="30" required placeholder="Global Filter" />
                </div>
                <div class="field input-div-container">
                  <label for="password" >Password</label>
                  <input id="password" type="text" size="30"  placeholder="Global Filter"/>
                </div>
                <div class="field input-div-container">
                  <label for="firstName" >FirstName</label>
                  <input id="firstName" type="text" size="30"   placeholder="Global Filter" />
                </div>
                <div class="field input-div-container">
                  <label for="lastName" >LastName</label>
                  <input id="lastName" type="text" size="30"  placeholder="Global Filter"/>
                </div>
              </form>
              <div class="ui-g-4">
                <button type="button" class="footer-button"  [disabled]="false" (click)="addNew()" pButton icon="fa-check" label="Add"></button>
              </div>
              <div class="ui-g-4">
                <button type="button" class="footer-button" (click)="editItem()" pButton icon="fa-pencil-square-o" label="Edit"></button>
              </div>
              <div class="ui-g-4">
                <button type="button" class="footer-button" (click)="clearInputs()" pButton icon="fa-trash" label="Clean"></button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>

    </md-card>

</div>
