
.management-content {
  width:100%;
  height:710px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: repeat;

  background-image: url(assets/img/background.jpg);
}

md-card {
  text-align:center;
  background-color: #F5F5F5;

  width:100%;
  height: 650px;
  max-width:1000px;
}

.sub-card-height {
  height: 280px;
}
.avatar-image {
  width: 160px;
  height:160px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.uploadfile {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  height: 30px;
}
.uploadfile input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.uploadfile:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}

.title-align-left {
  text-align: left;
  font-size: 20px;
}

.title-align-left i{
  margin:4px 4px 0 0;
}

.div-padding-bottom {
  padding-bottom: 20px
}

.monitor-information {
  height: 30px;
  padding:4px 10px;
  border-bottom: 0 none;
  text-align: left
}
.div-threshold {
  height: 40px;
  padding:4px 3px 4px 10px;
  border-top: 0 none;
  border-bottom: 0 none;
  text-align: left
}
.div-threshold i {
  height: 30px;
  margin:4px 4px 0 0;
}

.div-threshold input {
  height: 30px;
}

.form-threshold {
  text-align: right;
}

.input-div-container{
  padding-bottom: 3px;
  padding-right: 50px
}
.input-div-container label {
  padding-right: 10px;
}
.input-div-container input {
  height: 30px;
  width: 235px;
}

.footer-button {
  font-size: 14px;
  height: 30px
}

.action-button {
  font-size: 12px;
  height: 25px;
}

.add-new-button {
  font-size: 14px;
  height: 30px;
  float: right;
}
.action-button {
  font-size: 12px;
  height: 25px;
}
