<div class="management-content">

    <md-card elevation="5">

      <md-card-subtitle class="title-align-left">
        <i class="fa fa-users"></i>
        <span>User Management</span>
      </md-card-subtitle>

      <md-card-content>

        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
            <button type="button" class="action-button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" class="action-button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
          </p-footer>
        </p-confirmDialog>

        <div class="ui-widget-header div-threshold">
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="30" placeholder="Global Filter">
          <button type="button" class="add-new-button" (click)="UnSelectedClick()" pButton icon="fa-refresh" label="UnSelect"></button>
        </div>
        <p-dataTable [value]="users" [rows]="3" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedUser">
          <p-headerColumnGroup>
            <p-row>
              <p-column header="" [style]="{width:'30px'}"></p-column>
              <p-column header="No" [style]="{width:'40px'}"></p-column>
              <p-column header="Project"></p-column>
              <p-column header="Role"></p-column>
              <p-column header="Avatar"></p-column>
              <p-column header="Mmail"></p-column>
              <p-column header="FristName"></p-column>
              <p-column header="LastName"></p-column>
              <p-column header="Action" [style]="{width:'85px'}"></p-column>
            </p-row>
          </p-headerColumnGroup>
          <p-column  styleClass="col-icon"  [style]="{'width':'300px'}" selectionMode="single"></p-column>
          <p-column  field="no"></p-column>
          <p-column field="project"></p-column>
          <p-column field="role"></p-column>
          <p-column field="avatar">
            <template let-col let-user="rowData" pTemplate="body">
              <img style="width: 35px;" src="{{user[col.field]}}">
            </template>
          </p-column>
          <p-column field="email"></p-column>
          <p-column field="fristName"></p-column>
          <p-column field="lastName"></p-column>
          <p-column styleClass="col-button">
            <template let-col let-user="rowData" pTemplate="body">
              <button type="button" class="action-button" (click)="confirmPopup(user)" pButton icon="fa-trash" label="Delete"></button>
            </template>
          </p-column>
        </p-dataTable>
      </md-card-content>

      <md-card class="sub-card-height">
        <md-card-content>
          <div class="ui-g">
            <div class="ui-g-5">
              <img class="avatar-image" src="{{selectedUser ? selectedUser.avatar: null}}">
              <div >
                <button class="uploadfile" [disabled]="isUploading">{{uploadMessage}}
                  <input type="file" name="" id="" maxlength="1000000"  accept="image/png,image/gif" (change)="fileChangeEvent($event)">
                </button>
              </div>
              <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
            </div>
            <div class="ui-g-6">
              <form class="form-threshold" *ngIf="!submitted" (ngSubmit)="submitForm()"  #userForm="ngForm">
                <div class="field input-div-container">
                  <label for="role">Role</label>
                  <select id="role" required>
                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                  </select>
                </div>
                <div class="field input-div-container">
                  <label for="project" >Project</label>
                  <input id="project" name="project" type="text" size="30" [(ngModel)]="user.project" placeholder="Project"/>
                </div>
                <div class="field input-div-container">
                  <label for="email" >Email</label>
                  <input id="email" name="email" type="text" size="30" [(ngModel)]="user.email" required placeholder="Email" />
                </div>
                <div class="field input-div-container">
                  <label for="password" >Password</label>
                  <input id="password" name="password" type="text" size="30" [(ngModel)]="user.password" required placeholder="Password"/>
                </div>
                <div class="field input-div-container">
                  <label for="firstName" >FirstName</label>
                  <input id="firstName" name="firstName" type="text" size="30" [(ngModel)]="user.firstName" required placeholder="FirstName" />
                </div>
                <div class="field input-div-container">
                  <label for="lastName" >LastName</label>
                  <input id="lastName"  name="lastName" type="text" size="30" [(ngModel)]="user.lastName" placeholder="LastName"/>
                </div>
              </form>
              <div class="ui-g-6">
                <button type="button" class="footer-button"  (click)="addNew()" pButton icon="fa-check" label="Add"></button>
              </div>
              <div class="ui-g-6">
                <button type="submit" class="footer-button"  pButton icon="fa-pencil-square-o" label="Submit"></button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>

    </md-card>

</div>
