<div class="ui-widget-header" style="height: 40px; padding:4px 10px;border-bottom: 0 none;text-align: left">
  <i class="fa fa-search" style="height: 30px; margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText style="height: 30px;" size="30" placeholder="Global Filter">
</div>
<p-dataTable [value]="users" [rows]="4" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedUser"
             [responsive]="true" [stacked]="stacked" >
  <p-headerColumnGroup>
    <p-row>
      <p-column header="" ></p-column>
      <p-column header="No"></p-column>
      <p-column header="Project" [style]="{width:'100px'}"></p-column>
      <p-column header="Avatar"></p-column>
      <p-column header="Mmail"></p-column>
      <p-column header="FristName"></p-column>
      <p-column header="LastName"></p-column>
      <p-column header="Action"></p-column>
    </p-row>
  </p-headerColumnGroup>
  <p-footer><div style="text-align: left">Selected User: {{selectedUser ? selectedUser.no + ' - ' + selectedUser.project + ' - ' + selectedUser.avatar + ' - ' + selectedUser.email: 'none'}}</div></p-footer>
  <p-column  styleClass="col-icon"  [style]="{'width':'300px'}" selectionMode="single"></p-column>
  <p-column  field="no">
    <template let-col let-user="rowData" pTemplate="body">
      <span  style="width: 25px;">{{user[col.field]}}</span>
    </template>
  </p-column>
  <p-column field="project" [style]="{width:'15%'}"></p-column>
  <p-column field="avatar"></p-column>
  <p-column field="email"></p-column>
  <p-column field="fristName"></p-column>
  <p-column field="lastName">
    <template let-col let-user="rowData" pTemplate="body">
      <span>{{user[col.field] + "123"}}</span>
    </template>
  </p-column>
  <p-column styleClass="col-button">
    <template pTemplate="body">
      <a class="fa fa-remove"></a>
    </template>
  </p-column>
</p-dataTable>
