.toolbar-contaner {
  background-color: #3295c8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 60px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  padding-left: 10px;
  line-height: 60px;
}

.more {
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 18px;
  margin-left: 20px;
  width: 24px;
  display: none;
}

.logo-img{
  background: url("./assets/img/dashboard.png") 0 bottom no-repeat;
  background-size: cover;
  width: 40px;
  display: inline-block;
  height: 40px;
  padding-right: 5px;
  vertical-align:middle
}

.toolbar{
  height:60px;
}

.toolbar button{
   border: solid 2px;
   background-color: #3295c8;
   margin-left: 20px;
   margin-top: 10px;
   font-weight: 600;
   float:right;
 }

.toolbar span{
  margin-left: 20px;
  margin-top: 10px;
  float:right;
}

.toolbar ul{
  list-style:none;
  height:60px;
  padding-left:30px;
  float:right;
  margin: 0;
}
.toolbar li{
  float:left;
  margin-top: 10px;
}

.toolbar li a{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.87);
  display:block;
  width:90px;
  height:40px;
  line-height:40px;
  text-align:center;
  margin-left:1px;
}

.toolbar li a:hover,.toolbar li a.on{
  background-color: rgba(134, 106, 114, 0.25);
  color:#FFFFFF;
}

@media only screen and (max-width: 768px) {
  .toolbar li .hide_on_mobile {
    display: none;
  }
  .show_on_mobile {
    display: inline-block;
  }
}


